<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>Can.js workshops</title>
        <link rel=author href="humans.txt">
        <script data-main="js/main" src="js/require.js"></script>
    </head>
    <body>
        <h1>CanJS workshops</h1>
        <ul id="list"></ul>
        <script type="text/ejs" id="listTemplate">
            <% elements.each( function( element ) { %>
              <li><%= element.attr( 'name' ) %></li>
            <% }) %>
        </script>
    </body>
</html>